<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.cjlucas.alfred.tower</string>
	<key>connections</key>
	<dict>
		<key>A754A7F8-D5B5-47F6-9C1A-C902ECEA9BDC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03C80328-38D8-4EE0-BC32-3C761B51D562</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B5E27481-9543-4E02-B01C-D9B5B4FE75F6</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Copy Path to Clipboard</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AA6F2EF6-B1BE-43B4-AE17-6119392DEA39</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Browse in Alfred</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7BFB7DFF-8087-4BAC-9405-F31EEBAAC8B4</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Reveal in Finder</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BA515E70-333F-486D-A553-84A2E3D77444</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open in Terminal</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Lucas</string>
	<key>description</key>
	<string>Quickly search and open Tower git repositories</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tower Repositories</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>bash open_repo.bash "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>03C80328-38D8-4EE0-BC32-3C761B51D562</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B5E27481-9543-4E02-B01C-D9B5B4FE75F6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>AA6F2EF6-B1BE-43B4-AE17-6119392DEA39</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>tower</string>
				<key>runningsubtext</key>
				<string>Searching Repositories...</string>
				<key>script</key>
				<string>$LOAD_PATH.insert(0, 'lib')

require 'tower_workflow'

BOOKMARKS_PATH = "~/Library/Application Support/com.fournova.Tower2/bookmarks-v2.plist"

TowerWorkflow::Workflow.new(BOOKMARKS_PATH).query("{query}")</string>
				<key>title</key>
				<string>Search for Tower Repositories...</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A754A7F8-D5B5-47F6-9C1A-C902ECEA9BDC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>7BFB7DFF-8087-4BAC-9405-F31EEBAAC8B4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>cd {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>BA515E70-333F-486D-A553-84A2E3D77444</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>03C80328-38D8-4EE0-BC32-3C761B51D562</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7BFB7DFF-8087-4BAC-9405-F31EEBAAC8B4</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>A754A7F8-D5B5-47F6-9C1A-C902ECEA9BDC</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>AA6F2EF6-B1BE-43B4-AE17-6119392DEA39</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>B5E27481-9543-4E02-B01C-D9B5B4FE75F6</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>BA515E70-333F-486D-A553-84A2E3D77444</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github.com/cjlucas</string>
</dict>
</plist>
